* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

/*---------------------------------------------------------------------------Home---------------------------------------------------------------------------------*/
/* ===== NAVBAR ===== */
#Home .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: white;
    z-index: 1000;
    border-bottom: 3px solid #E83E8C;

}

#Home .navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    min-height: 90px;
    margin: auto;
}

#Home .navbar img {
    width: 100%;
    max-width: 150px;

}

#Home .navbar .nav ul {
    display: flex;
    list-style: none;
    margin-left: 25%;
}


#Home .navbar .nav ul a {
    margin: 0 20px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#Home .navbar ul a:not(.dropdown-content a):hover {
    color: #E83E8C;
    border-bottom: 2px solid #E83E8C;
    cursor: pointer;
}

/* ===== SEARCH BUTTON ===== */
.search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #E83E8C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 70px;
}

.search-btn i {
    color: #E83E8C;
}

/* ===== DROPDOWN ===== */
.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

#drop {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;

}

#Home .navbar .nav .dropdown-content a:hover {
    color: #E83E8C;
    cursor: pointer;
}

/* ===== BUTTONS ===== */
#Home .navbar .nav .log-in {
    background-color: #E83E8C;
    border-radius: 10px;
    padding: 10px 12px;

}

#Home .navbar .nav .log-in a {
    text-decoration: none;
    color: #f8f8f8;

}

#Home .navbar .nav .log-in a i {
    margin-right: 5px;
}

#Home .navbar .nav .log-in:hover {
    background-color: #ff3c97;

}

#Home .navbar .nav .Sign-up {
    border: 1px solid #E83E8C;
    border-radius: 10px;
    padding: 10px 12px;

}

#Home .navbar .nav .Sign-up a {
    text-decoration: none;
    color: #E83E8C;
}

#Home .navbar .nav .Sign-up:hover {
    background: #FFF0F5;

}

/* ===== HERO ===== */
#Home .home-content {
    background: url(home.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center top;
    position: relative;
    margin-top: 120px;
}

#Home .home-content::before,
#login::before,
#Signup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 62, 140, 0.1);
}

header .home-content .content {
    text-align: center;
    z-index: 10;
}

header .content h1 {
    font-size: 50px;
}

header .content h1 span {
    font-size: 45px;
    color: #E83E8C;
}

header .content p {
    margin: 20px auto 40px;
    color: black;
    width: 100%;
    max-width: 530px;
}

/* ===== BUTTON HERO ===== */
.btn-hero {
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #E83E8C;
    border: 1px solid #E83E8C;
}

.btn-hero:hover {
    background-color: #E83E8C;
    color: #f8f8f8;
}


/* ===== TICKER ===== */
.ticker {
    position: fixed;
    top: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFF0F5;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(194, 24, 91, 0.3);
    z-index: 999;

}

.ticker-label {
    background: #E83E8C;
    color: white;
    padding: 12px 15px;
    font-weight: bold;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 10px rgba(194, 24, 91, 0.3);
}

.ticker-content {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.ticker-content p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 12s linear infinite;
    color: #E83E8C;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.ticker-search {
    padding: 10px 15px;
    color: #E83E8C;
    font-size: 18px;
    cursor: pointer;
}

.icons {
    display: none;
    font-size: 20px;
    color: #E83E8C;
    cursor: pointer;
}

#check {
    display: none;
}


/* ------------------------------------------------------------------------About US------------------------------------------------------------------------------- */

/* ===== SECTIONS GENERAL ===== */
#AboutuS,
#Categories,
#contact-us .title {
    text-align: center;
    padding: 40px 20px;
    background: #FFF0F6;
}

/* ===== TITLE ===== */
.title h2 {
    font-size: 35px;
    color: #000;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 40px;
    border-bottom: 3px solid #E83E8C;
}

.title p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* ===== ABOUT SECTION ===== */
.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-content .col {
    flex: 1;
    min-width: 300px;
}

/* ===== TEXT ===== */
.about-content .col h2 {
    text-align: left;
    color: #E83E8C;
    padding-left: 150px;
}

.about-content p {
    width: 100%;
    max-width: 550px;
    text-align: left;
    padding-left: 150px;
    position: relative;
    color: black;
}

.about-content p::after {
    content: "";
    border-bottom: 2px solid #55555531;
    position: absolute;
    bottom: -30px;
    left: 70%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;

}

/* ===== LIST ===== */
.about-content .col ul {
    text-align: left;
    list-style: none;
    line-height: 1.6;
    /* margin-left: 150px; */
    padding-left: 150px;

}

.about-content .col ul i {
    color: #E83E8C;
    font-size: 15px;
}

/* ===== ICON ===== */
.about-content .col .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffe4f0;
    color: #E83E8C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 70px;
    top: 55px;
    animation: float 3s linear infinite;

}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translatex(-25px);

    }

    50% {
        transform: translatex(-50px);
    }

    75% {
        transform: translatex(-25px);
    }

    100% {
        transform: translatex(0);
    }
}

/* ===== IMAGE ===== */
.about-content .col img {
    width: 92%;
    border-radius: 15px;
    margin-top: 65PX;
    box-shadow: 0 10px 20px rgba(232, 62, 140, 0.2);
}

/* ------------------------------------------------------------Categories-------------------------------------------------------------------------------------------- */
/* ===== CATEGORY BOX ===== */
.Categories-box {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    min-height: 52vh;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(232, 62, 140, 0.2);
    background: white;
    position: relative;
    transition: all 0.4s ease;

}

.Categories-box:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 25px 40px rgba(232, 62, 141, 0.182);
}

/* ===== ICON ===== */
.Categories-box i {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #E83E8C;
    border: 10px solid #E83E8C;
    border-radius: 50%;
    transition: 0.4s ease;
}

.Categories-box i:hover {
    background: #E83E8C;
    color: #fff;
    box-shadow: 0 0 0 15px #fcd6e3;
    cursor: pointer;
}

/* ===== TITLE ===== */
.Categories-box h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    color: #000;
}

/* ===== TEXT ===== */
.Categories-box p {
    margin-bottom: 25px;
}

/* ===== BUTTON ===== */
.btn-categories {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 15px;
    background: #E83E8C;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.btn-categories:hover {
    background: #ff3c97;
}

.btn-categories:focus {
    box-shadow: 0 0 0 10px #fcd6e3;
}

/* ===== footer===== */
.Categories-box:hover .footer {

    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #E83E8C;
    animation: linemove 1s ease;


}


@keyframes linemove {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

/* ---------------------------------------------------------contact us--------------------------------------------------------------------------------------------------- */

/* ===== CONTACT SECTION ===== */
#contact-us {
    padding: 20px;
    background: #FFF0F6;
}

/* ===== CONTAINER ===== */
.container {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 5px #e83e8c33;
    background: white;
    position: relative;

    overflow: hidden;

    background: linear-gradient(white, white) padding-box,
        linear-gradient(145deg, transparent 35%, #ff587f, #E83E8C) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
}

.container .contact-content {
    flex: 1;
}

/* ===== LAYOUT =====*/
#contact-us .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

/* ===== TITLE ===== */
#contact-us h1 {
    position: relative;
    margin-bottom: 30px;
}

#contact-us h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    border-bottom: 4px solid #E83E8C;
}

/* ===== FORM ===== */

#contact-us form input,
#contact-us form textarea {

    display: block;
    width: 500px;

    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #E83E8C;
    border-radius: 10px;
    background-color: white;

}

/* ===== FOCUS ===== */
#contact-us .contact-content form input:focus,
#contact-us .contact-content form textarea:focus,
#contact-us .contact-content button:focus {
    border-color: #FF85A2;
    box-shadow: 0 0 0 7px #fcd6e3;
}

/* ===== BUTTON ===== */
.btn {
    margin-top: 15px;
    padding: 10px 35px;
    border-radius: 20px;
    background: #E83E8C;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#contact-us .contact-content .btn {
    margin-left: 40%;
}

#contact-us .contact-content .btn:hover {
    background: #ff3c97;
}

#contact-us .contact-content .btn:focus {

    box-shadow: 0 0 0 10px #fcd6e3;

}

/* ===== RIGHT CONTENT ===== */
.right-content {
    line-height: 1.7;
}

.right-content p {
    font-size: 17px;
    margin-bottom: 20px;
}

/* ===== ICONS ===== */
#contact-us .contact-content i {
    color: #E83E8C;
    margin-right: 10px;
}

#contact-us a i {
    margin-top: 15px;
    padding: 10px 25px 10px 13px;
    border-radius: 50%;
    border: 1px solid #E83E8C;
    background-color: white;
    transition: 0.3s;
}

#contact-us a i:hover {
    background: #E83E8C;
    color: #fff;
}

/* ---------------------------------------------------------------------------log in------------------------------------------------------------------------- */
#login,
#Signup {
    padding: 140px 40px;
    background: url(home.jpg.png);
    background-repeat: no-repeat;
    margin-top: 70px;
    display: flex;
    background-size: cover;
    background-position: center top;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

}

#login .title {
    text-align: center;
}


/* ===== CONTAINER ===== */
.login-container {
    width: 70%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgba(232, 62, 140, 0.2);
}

/* ===== LAYOUT ===== */
#login .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: #000;
}

#login .contact-content .login-left {
    position: relative;
}

#login .contact-content .login-left::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.08);

}

#login .contact-content .login-left h1 {
    margin: 30px 0 20px 30px;

}

#login .contact-content .login-left h1 span,
#login .contact-content .login-left p span {
    color: #E83E8C;

}

#login .contact-content .login-left p {
    margin: 0 0 50px 30px;
}

#login .contact-content .login-left img {
    position: relative;
    right: 60px;
    width: 430px;

}

#login .contact-content .login-left .secure {
    display: flex;
    align-items: center;
    gap: 10px;
}

#login .contact-content .login-left .secure i {
    color: #E83E8C;
    font-size: 22px;
}

#login .contact-content .login-left .secure p {
    margin: 0;
    font-weight: bold;
}

#login .contact-content .login-left .secure span {
    font-size: 13px;
    color: gray;
}

#login .login-right h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

#login .login-right p {
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
    width: 500px;
}

.input-box-11 {
    position: relative;
    margin-bottom: 25px;
}

#login .login-right form .input-box-11 input {

    display: block;
    width: 430px;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;

    background: transparent;
    border: 2px solid #FF85A2;
    border-radius: 10px;

}

#login .login-right form .input-box-11 input:focus,
#login .login-right form .btn:focus,
.signup-btn:focus,
.input-box input:focus,
.input-box select:focus {
    border-color: #FF85A2;
    box-shadow: 0 0 0 7px #ff549038;
}


.input-box-11 label {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #999;
    transition: 0.3s;
}

.input-box-11 label i {
    color: #E83E8C;
    font-size: 15px;
    margin-right: 7px;
}

.input-box-11 input:focus+label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #E83E8C;
    background: #fcd6e3;
    padding: 0 5px;
}

.input-box-11 .eye i {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translatey(-50%);
    color: #ff2f86;
}

input[type="checkbox"] {
    accent-color: #E83E8C;
}

.options {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.remember {
    display: flex;
    align-items: center;
    gap: 8px;
}

.options a {
    text-decoration: none;
    color: #E83E8C;
    margin-left: auto;
    margin-right: 70px;

}

.options a:hover {
    text-decoration: underline;
}

#login .btn {
    width: 430px;
    background: #E83E8C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;
}

#login .btn:hover,
.signup-btn:hover {
    transform: translateY(-3px);
}

.divider {
    margin: 25px 60px 25px 0;
    color: #aaa;
    text-align: center;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    width: 30%;
    height: 1px;
    background: #ddd;

    position: absolute;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 10px;
}

.social-btns button {
    border: 1px solid #dddddd6d;
    background: rgba(255, 255, 255, 0.501);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.social-btns .google,
.social-btns .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #3c4043;
    width: 430px;
    transition: all 0.3s ease;
}

.social-btns .google:hover,
.social-btns .facebook:hover {
    border-color: #ff2f86;
}

.facebook img,
.google img {
    width: 20px;
    height: 20px;
}

.signup {
    margin: 20px 20%;

}

.signup a {
    color: #E83E8C;
    text-decoration: none;
    font-weight: 600;
}

.signup a:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------sign up--------------------------------------------------------------------*/
#Signup .title {
    text-align: center;
}

#Signup .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ================= CONTAINER ================= */

.signup-container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;

}

/* ================= FORM ================= */

.form-box {
    width: 520px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 45px;
    margin-top: 30PX;
    border-radius: 25px;

    box-shadow: 0 10px 40px rgba(255, 78, 151, .15);
}


.form-box h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.form-box h2 span {
    color: #ff2f86;
}

.form-box .text {
    text-align: center;
    color: #666;
    margin-bottom: 35px;
}

/* INPUTS */

.row {
    display: flex;
    gap: 15px;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid #FF85A2;
    border-radius: 14px;

    padding-left: 50px;

    font-size: 14px;
    outline: none;

    transition: .3s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(41%) sepia(94%) saturate(2474%) hue-rotate(307deg) brightness(101%) contrast(101%);

}

input[type="date"] {
    color: #666;
}

select {
    appearance: none;
}

select:valid {
    color: #666;

}


.input-box i {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #ff2f86;
}

.eye {
    right: 18px;
    left: auto !important;
    cursor: pointer;
    color: #E83E8C;
}

/* BUTTON */

.signup-btn {
    width: 100%;
    padding: 10px 15px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(to right, #ff2f86, #ff5ca8);

    color: white;
    font-size: 18px;

    cursor: pointer;

    transition: .3s;
}


/* OR */

.or {
    text-align: center;
    margin: 25px 0;
    color: #777;
    position: relative;
}

.or::before,
.or::after {
    content: "";
    width: 35%;
    height: 1px;
    background: #ddd;

    position: absolute;
    top: 50%;
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

/* BOTTOM */

.bottom {
    text-align: center;
    margin-top: 25px;
    color: #555;
}

.bottom a {
    color: #ff2f86;
    text-decoration: none;
    font-weight: 600;
}

.bottom a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------------------------footer-----------------------------------------------------------------------*/

#footer {
    background-color: #E83E8C;
    padding: 6rem 5rem;
}

#footer .footer-top .row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    column-gap: 3rem;

}

#footer .footer-top .row h2 {

    color: white;
    font-size: 22px;

}

#footer .footer-top .row hr {

    width: 50px;
    height: 2px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0 2rem;

}

#footer .footer-top .row p {
    color: white;
}

#footer .footer-top .row .col-1 .social {

    margin-top: 30px;

}

#footer .footer-top .row .col-1 .social a {

    font-size: 14px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 9px;
    margin-right: 10px;
    transition: all 0.3s ease;

}

#footer .footer-top .row .col-1 .social a:hover {

    background-color: white;
    color: #E83E8C;

}

#footer .footer-top .row .col-2 ul li {

    color: white;
    margin: 15px 0;
    transition: all 0.3s ease;
    list-style: none;

}

#footer .footer-top .row .col-2 ul li:hover {
    transform: translateX(10px);
}

#footer .footer-top .row .col-2 ul li a {

    color: white;
    margin-right: 5px;

}

#footer .footer-top .row .col-4 p {

    margin-bottom: 20px;

}

#footer .footer-top .row .col-3 ul li {

    margin: 15px 0;
    color: white;
    list-style: none;

}

#footer .footer-top .row .col-4 {
    position: relative;
}

#footer .footer-top .row .col-4 form input {

    padding: 15px;
    width: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    outline-color: none;
    /* position: relative; */

}

#footer .footer-top .row .col-4 form {
    position: relative;

}

#footer .footer-top .row .col-4 input::placeholder {
    color: white;
}

#footer .footer-top .row .col-4 input:focus {
    border-color: #FF85A2;
}


#footer .footer-top .row .col-4 form button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 15px;
    min-height: 49px;

}

#footer .footer-top .row .col-4 button i {
    color: #E83E8C;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#footer .footer-top .row .col-4 button i:hover {
    color: #000;

}

/* --------------------------------------------------------------------------------------- */
#footer-bottom {
    padding: 2rem;
    text-align: center;
    background-color: #ff3e98ef;
}

#footer-bottom .copyright p {
    color: white;
}

#footer-bottom .copyright a {
    font-weight: 600;
    color: white;
}


/* ================= RESPONSIVE ================= */
@media(max-width:1500px) {
  .login-container {
        padding: 30px;
    }
     .search-btn {

        position: relative;
        left: 0px;
     }

}
@media(max-width:1300px) {

    #Home .navbar img {
        width: 100%;
        max-width: 130px;

    }

    #Home .navbar .nav ul {
        display: flex;
        list-style: none;
        margin-left: 10%;
    }

    .search-btn {

        position: relative;
        left: -20px;
    }

    .about-content p::after {
        width: 90%;
        max-width: 350px;
        left: 62%;

    }

    .about-content .col img {
        width: 100%;
        margin-top: 80PX;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    #footer .footer-top .row .col-1 .social a {
        padding: 5px;

    }

    .login-container {
        width: 100%;
        max-width: 100%;
        padding: 35px;
    }

}


@media(max-width:768px) {
    #Home .navbar img {
        width: 100%;
        max-width: 120px;
        margin-left: 30px;

    }

    .icons {
        display: inline-block;
        margin-left: auto;
        width: 35px;
        height: 35px;
        border: 2px solid #E83E8C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }


    .search-btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #E83E8C;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -80px;
    }


    .nav ul {
        position: absolute;

        top: 70px;
        right: 15px;

        width: 260px;

        background: white;

        flex-direction: column;
        align-items: flex-start;

        border-radius: 18px;

        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);

        max-height: 0;
        overflow: hidden;

        transition: 0.5s;

        padding: 0 20px;

        z-index: 100;
    }

    #check:checked~ul {
        max-height: 800px;
        padding: 20px 20px 110px 0px;
        overflow: visible;
    }

    .nav ul li {
        margin: 12px 0;
    }


    .log-in {
        position: absolute;

        top: 268px;
        right: 40px;


        width: 220px;

        opacity: 0;

        transition: 0.5s;

        z-index: 101;
    }

    .log-in a {
        display: flex;
        align-items: center;
        gap: 10px;
    }



    .Sign-up {
        position: absolute;

        top: 320px;
        right: 40px;

        width: 220px;

        opacity: 0;

        transition: 0.5s;

        z-index: 101;
    }

    .Sign-up a {
        display: block;

    }


    #check:checked~.log-in,
    #check:checked~.Sign-up {
        opacity: 1;

    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        top: 0;
        right: 100%;
        min-width: 200px;
        background: #fff;
        z-index: 1001;
        border-radius: 18px;
    }



    header .content h1 {
        font-size: 32px;
    }

    header .content p {
        width: 90%;

    }


    .about-content {
        flex-direction: column;
    }

    .about-content .col h2,
    .about-content p {
        width: 100%;
        text-align: left;
    }

    .about-content .col ul {
        text-align: left;
    }

    .Categories-box {

        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .container {
        max-width: 95%;
        padding: 20px;
    }

    .left-content,
    .right-content {
        width: 100%;
    }

    #contact-us .contact-content {
        flex-direction: column;
    }



    #contact-us form input,
    #contact-us form textarea {
        width: 100%;


    }

    .login-container {
        width: 95%;
        padding: 20px;
        text-align: center;
    }

    #login .contact-content {
        flex-direction: column;
    }

    #login .contact-content .login-left img {
        width: 100%;
        right: 0;
    }

    #login .login-right p {
        width: 100%;
    }

    #login .contact-content .login-left::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
    }

    #login .contact-content .login-left .secure {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #login .login-right form .input-box-11 input,
    #login .btn,
    .social-btns .google,
    .social-btns .facebook {
        width: 100%;

    }

    .input-box-11 .eye i {
        position: absolute;
        right: 5%;
    }

    .options a {
        text-decoration: none;
        color: #E83E8C;
        margin-left: auto;
        margin-right: 10px;

    }

    .divider {
        margin-left: 60px;
        text-align: center;
        position: relative;
        font-size: 13px;
    }


    .divider::before,
    .divider::after {
        content: "";
        width: 35%;
        height: 1px;
        background: #ddd;

        position: absolute;
        top: 50%;
    }

    .divider::before {
        left: -20px;
    }

    .divider::after {
        right: -20px;
    }

    .signup {
        margin: 0;
    }

    #footer .footer-top .row {
        grid-template-columns: 1.5fr 1fr;
        row-gap: 50px;

    }

    #footer {
        padding: 3rem 1.5rem;
    }

    #footer .footer-top .row .col-4 button {
        position: absolute;
        right: 0;
        bottom: 42px;
    }

}

@media screen and (max-width:500px) {

    .about-content p::after {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .nav ul {
        width: 240px;


    }



    .nav ul li {
        margin: 12px 0;
    }


    .log-in {
        position: absolute;

        top: 268px;
        right: 40px;


        width: 200px;


    }

    .Sign-up {


        width: 200px;

    }

    .dropdown-content {
        position: absolute;
        top: 0;
        right: 100%;
        min-width: 100px;
        background: #fff;
        z-index: 1000;
        border-radius: 18px;
    }

    /* ===== HERO ===== */

    #Home .home-content {

        margin-top: 90px;

        padding: 50px;
    }

    header .content h1 {
        font-size: 24px;
    }

    header .content h1 span {
        font-size: 26px;
    }

    header .content p {
        width: 100%;
        font-size: 14px;
    }

    /* ===== ABOUT ===== */

    .about-content {
        flex-direction: column;
    }


    .about-content p::after {
        content: "";
        border-bottom: 2px solid #55555531;
        position: absolute;
        bottom: -30px;
        left: 65%;
        width: 100%;
        max-width: 380px;

    }

    .about-content .col img {
        width: 100%;
    }


    /* ===== CATEGORIES ===== */

    .Categories-box {
        width: 95%;
        height: auto;
    }

    /* ===== CONTACT ===== */

    .container {
        max-width: 100%;
        padding: 15px;
    }

    #contact-us .contact-content {
        flex-direction: column;
    }

    #contact-us form input,
    #contact-us form textarea {
        width: 100%;
    }


    .options {
        font-size: 13px;
    }

    .options a {
        text-decoration: none;
        color: #E83E8C;
        margin-left: auto;
        margin-right: 20px;

    }

    .divider {
        margin-left: 50px;
        color: #aaa;
        text-align: center;
        position: relative;
        font-size: 13px;
    }

    .or {
        font-size: 13px;
    }

    .divider::before,
    .divider::after {
        content: "";
        width: 35%;
        height: 1px;
        background: #ddd;

        position: absolute;
        top: 50%;
    }

    .or::before,
    .or::after {
        content: "";
        width: 25%;
    }



    .divider::before {
        left: -35px;
    }


    .divider::after {
        right: -35px;
    }


    .signup-container {
        width: 100%;
        max-width: 75%;

        padding: 20px;

    }


    /* ===== FOOTER ===== */

    #footer .footer-top .row {
        grid-template-columns: 1fr;
    }

    #footer .footer-top .row .col-4 button {
        position: absolute;
        right: 0;
        bottom: 0px;
    }

    #footer {
        padding: 3rem 1rem;
    }

}


@media screen and (max-width:450px) {

    .signup-container {
        width: 100%;
        max-width: 65%;

        padding: 20px;

    }

    .nav ul {
        width: 210px;


    }



    .nav ul li {
        margin: 12px 0;
    }


    .log-in {
        width: 170px;
    }

    .Sign-up {
        width: 170px;

    }

    .dropdown-content {
        position: absolute;
        top: 0;
        right: 100%;
        max-width: 140px;
        background: #fff;
        z-index: 1000;
        border-radius: 18px;
    }

}